.center-avatar {               //centrado de avatar
    margin: auto; 
}
.validation-message {
    color: rgb(199, 113, 20);
    font-size:20px;       //estilo de presentacion.
    margin-top: 10px;
    
}
.background {
    background-image: url('https://s0.smartresize.com/wallpaper/695/144/HD-wallpaper-color-smoke-fmyury-abstract-black-clouds-colorful-fog-gradient-purple-steam-violet.jpg'); /* Reemplaza con la ruta correcta de tu imagen */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  