.center-avatar {               //centrado de avatar
    margin: auto; 
}
.validation-message {
    color: rgb(199, 113, 20);
    font-size:20px;       //estilo de presentacion.
    margin-top: 10px;
}