#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
swiper-container {
  width: 100%;                   // ahi algunas cosas que no estan en uso
  height: 100%; 
}
swiper-slide {
display: flex;
flex-direction: column;
align-content: center;
justify-content: center;
}
.avatar-slide1 {
--border-radius: 0px
}
.red-title { 
color : rgb(212, 129, 20); 
}
.red-title2 {
  color: rgba(14, 11, 8, 0.925);   //color titulos y texto
  font-weight: bold; 
}
.red-title3 {
  color: rgba(203, 27, 7, 0.925);
  font-weight: bold; 
}



.slide-content {
  text-align: center;
  padding: 20px;
  background-color: #5c2a1d; /* Color de fondo  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.slide-content img {
  width: 100%; /* Ajusta el ancho de la imagen  */
  max-width: 300px; /* Ajusta el tamaño máximo de la imagen */
  margin-bottom: 10px;
}

.slide-content h1 {
  font-size: 24px;
  margin-top: 10px;
}

.slide-content p {
  font-size: 16px;
  margin-top: 10px;
}
/* a  a */

.small-image {
  width: 100px; /* Ajusta el tamaño  */
  height: auto;
  display: block;
  margin: 0 auto; /* Centra la imagen */
}

.image-row {
  display: flex;
  justify-content: space-between;
}
ion-slides {
  height: 50px; /* Ajusta la altura según tus necesidades */
}

ion-slide {
  display: flex;
}

ion-slide img {
  width: 30%; /* Hace que las imágenes ocupen el ancho completo */
  height: auto; /* altura se ajuste automáticamente  */
  object-fit: cover; /* proporción de la imagen */
}
